.mmapCSS {
	}
.leaflet-tooltip{
	background-color: rgba(255, 255, 255, 0.2) !important;
	border: transparent !important;
	box-shadow: none !important;
	white-space: normal !important;
}
a.dir-link {
	color: blue !important;
	text-decoration: underline !important;
}